body {
  padding: 0;
  margin: 0;
  min-width: 100px;
  min-height: 100%;

  font-size: 16px;

  --header-height: 56px;
  --logo-size: 38px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  font-display: swap;
}

%transform {
  transition: all 0.3s ease-in-out;
}

.wrapper {
  @extend %transform;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1240px;
  height: 100%;

  &_wide {
    padding: 0;
  }
}

.container,
.container-header {
  padding: 0 calc(50% - 700px);
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #f3f4f6;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 4px;
}

:root {
  // --border-header-color: color-mix(in oklab, hsl(0 0% 85%) 50%, transparent);
  // --bg-header: #f1f1f4;
  // --bg: #f2f2f7;
  --border-header-color: #c5dcff;
  --bg-header: #c5dcff;
  --bg: #ffffff;
  --ui-breadcrumb-active-text-color: #050505;
  --ui-primary: var(--ui-color-primary-500);
  --ui-secondary: #f5f5f5;
  --ui-success: var(--ui-color-success-500);
  --ui-info: #0862e0;
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);
  --ui-text: #050505;
}

.dark {
  --border-header-color: #012053;
  --bg-header: #012053;
  --bg: #020e28;
  --ui-breadcrumb-active-text-color: #ffffff;
  --ui-primary: var(--ui-color-primary-400);
  --ui-secondary: #0862e0;
  --ui-success: var(--ui-color-success-400);
  --ui-info: #0862e0;
  --ui-text-highlighted: #ffffff;
  --ui-warning: var(--ui-color-warning-400);
  --ui-error: var(--ui-color-error-400);
  --ui-text: #ffffff;
}
